@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('font/iconfont.woff2') format('woff2'),
      url('font/iconfont.woff') format('woff'),
      url('font/iconfont.ttf') format('truetype'),
      url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search{
  color:#ace8ed;
  font-size:20px;
  position:absolute; 
  top:0; 
  left:15px;
  line-height:30px;
  cursor: pointer;
}

/* 提示消息 */
.msg-box-wrap,.loading-bg-wrap{
	width:100%;
	height:100%;
	z-index:100001; 
	position:fixed; 
	left:0;
	top:0;
	font-size:0;
	letter-spacing:-5px;
	vertical-align: middle;
	text-align:center;	
}
.msg-box-wrap:before,.loading-bg-wrap:before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	width:0;
	height:100%;
}
.msg-box{
	display:inline-block;
	vertical-align:middle;
	letter-spacing:normal;
	background:rgba(0,0,0,0.75);
	color:#fff; 
	font-size:14px; 
	padding:12px 20px; 
	border-radius:3px; 
	max-width:100%; 
	box-sizing:border-box; 
	text-align:center;
}

/* 加载动画 */
.loading-bg{display:inline-block; vertical-align:middle; letter-spacing:normal; background:rgba(0,0,0,0.7);color:#fff; font-size:14px; padding:10px 12px; border-radius:3px; max-width:100%; box-sizing:border-box;}
.loading-bg.hide{display:none;}
.loading-bg .loading{margin:0 auto; flex:none; height:24px; width:24px; border-radius:100%; border:2px solid #fff; border-bottom-color:transparent; -ms-animation: rotate 0.75s linear infinite;
 animation: rotate 0.75s linear infinite;
}
.loading-bg p{flex:none; color:#fff; font-size:14px; padding-top:5px;}
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
};
@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
};