@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604632775912'); /* IE9 */
  src: url('iconfont.eot?t=1604632775912#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABmwAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gRYBNgIkAwgLBgAEIAWEbQcxG70FEdWLc7KvEzg3PeRe5jGEyBKBbpwoD+sGrHARvkyJ1fv/1McOy9gcEw//v9+3fe67o5pEkyUVXLNZ0mSe+I0SCXESi0QVsUieyVv7PtGBZFGjwIqiooDf83HWQCKM92gicQEAE7l5QFgCB4CnQJx7P0yQrdncDF2jIhRLch78L8tM10jzK4dMDv64n/pjO4/CfEBziQiKSo4EHNh0oFFBI9uAhrxh7AKXcJxAtS7DYl27bR8hs8YF4ux84hCR88kyS1YK5TVLsyihKtODdMDD8PvxRxWCpKxgle06vv4o9x3aafj66gYf4QcCWl2GAsPIxL7a2A5YMEqhOkb0sa/i4Dv8f98q9moS7K+zCmtBBxTfk8SV3mphAjnu7cPCqJtI7WbpVwrMzw/EuC+l/b403ekf3ThcIpVycGqMo29XaLdT7bjv654CUSFUXIcCuNX0aAvhkuvNUSql0BmoPEMFkBnCs3aOlSg2oP/7+snlJ+BcmfsEGbx5Pj0NjVk/h8rd24PfJOnZknWZZUlZldQ6kr5RYxOqVWMVu5q9H6tvu6dUqNR2Z44KnSkUKg2gmTgMZWqMQblKi1BtyMbVNVqcg0WuwqA7AEKjx5DUW4FCo2doJr6DMu3+QbnGwFDtQLRsWYM7jEC4M15w/MGcKUrHxiIqvqF6+52yspD1QqomCEPbF5MLRqQ5ZtSPGpklSEoBZnAaep8gU7J4cquZ89R1su5N7ZlCIyDcGS9w/IE5U5R+dxalz99Qvf1OLRU1/hdSNf2DQavvgS7q2KviXl6pHzVilkBSCmAGg9D7BHL9IIsnt/SISJ50difZV92urw0fUMRqsOYKBDFopOJOp24aAAAA') format('woff2'),
  url('iconfont.woff?t=1604632775912') format('woff'),
  url('iconfont.ttf?t=1604632775912') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604632775912#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e601";
}

